.products-page{
    box-sizing: border-box;
    background-color: lightsteelblue;
    padding: 10px;

    &__list{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 16px;
    }
}