.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #fff;

    &__btn{
        padding: 10px;
        justify-content: space-between;
        border: none;
        background-color: steelblue;
        color: #fff;
    }
}