.categories {
    &__link {
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;  
        padding: 4px 12px;
        border: 1px solid steelblue;
        color: steelblue;
        margin-right: 10px;
        font-size: 18px;
    }
}