.cart-product {
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: #fff;
    font-family: "Open sans", sans-serif;

    h2 {
        margin: 10px;
        text-align: center;
        font-size: 16px;
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    b {
        display: block;
        margin: 15px;
    }

    &__thumbnail {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 100%;
        height: 360px;
        overflow: hidden;
        border: 10px solid #fff;

        img {
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-height: 320px;
            min-width: 320px;
        }
    }
}